In [11]:
import pandas  as pd

In [12]:
df = pd.read_csv('obis_seamap_dataset_513_points.csv')

/opt/anaconda3/envs/metis/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (5,6,17,54,60) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df.date_time.head()

0    1998-05-16 14:31:20
1    1998-05-16 15:23:42
2    2003-06-24 08:33:15
3    2003-06-07 10:18:54
4    2007-10-26 11:52:44
Name: date_time, dtype: object

In [68]:
df.columns
df.date_local.unique()
df.info()
print(df.common_name.unique())

df['dt']=pd.to_datetime(df['date_time'], format='%Y-%m-%d %H:%M:%S')
df.dt.head()
df['date']= pd.to_datetime(df['date_local'], format='%Y-%m-%d')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88579 entries, 0 to 88578
Data columns (total 73 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   dataset_id         88579 non-null  int64
 1   row_id             88579 non-null  object
 2   latitude           88579 non-null  float64
 3   longitude          88579 non-null  float64
 4   species_name       88579 non-null  object
 5   scientific_name    45405 non-null  object
 6   common_name        45405 non-null  object
 7   itis_tsn           45405 non-null  float64
 8   group_size         88577 non-null  float64
 9   series_id          0 non-null      float64
 10  date_time          88579 non-null  object
 11  timezone           88579 non-null  float64
 12  ds_type            88579 non-null  object
 13  platform           88579 non-null  object
 14  provider           88579 non-null  object
 15  lprecision         88579 non-null  int64
 16  tprecision         88579 non-null  int64
 17  oceano             45559 non-null  object
 18  notes              0 non-null      float64
 19  last_mod           88579 non-null  object
 20  id                 88579 non-null  int64
 21  source             88579 non-null  object
 22  plane              88579 non-null  object
 23  date_local         88579 non-null  object
 24  time_local         88579 non-null  object
 25  event_number       88578 non-null  float64
 26  flight_type        88579 non-null  int64
 27  legtype            88575 non-null  float64
 28  legstage           88578 non-null  float64
 29  psb_legstage       88578 non-null  float64
 30  altitude           88576 non-null  float64
 31  heading            87749 non-null  float64
 32  speed              88428 non-null  float64
 33  sst_c              18876 non-null  float64
 34  beaufort           88465 non-null  float64
 35  visibilty_code     6166 non-null   float64
 36  visibilty_nm       79898 non-null  float64
 37  cloud_code         88445 non-null  float64
 38  cloud_percent      4271 non-null   float64
 39  glare_l            88456 non-null  float64
 40  glare_r            88427 non-null  float64
 41  quality_l          86548 non-null  object
 42  quality_r          86530 non-null  object
 43  id_reliability     88438 non-null  float64
 44  sighting_number    88313 non-null  float64
 45  spcode             88579 non-null  object
 46  calves             1114 non-null   float64
 47  bearing            46 non-null     float64
 48  actual_heading     18795 non-null  float64
 49  relative_heading   281 non-null    float64
 50  observer           88121 non-null  object
 51  obs_position       88313 non-null  object
 52  angle              60034 non-null  float64
 53  cue                24448 non-null  object
 54  b1_final_code      16434 non-null  object
 55  b2_final_code      1067 non-null   float64
 56  b3_final_code      241 non-null    float64
 57  b4_final_code      76 non-null     float64
 58  b5_final_code      26 non-null     float64
 59  photos             88417 non-null  float64
 60  effort_comments    69 non-null     object
 61  sighting_comments  18689 non-null  object
 62  edit1              14064 non-null  object
 63  edit2              4496 non-null   object
 64  edit3              3260 non-null   object
 65  misc_edit1         804 non-null    object
 66  misc_edit2         2850 non-null   object
 67  misc_edit3         1228 non-null   object
 68  misc_edit4         77 non-null     object
 69  rid                88579 non-null  int64
 70  dt                 88579 non-null  datetime64[ns]
 71  date               88579 non-null  datetime64[ns]
 72  year               88579 non-null  int64
dtypes: datetime64[ns](2), float64(34), int64(7), object(30)
memory usage: 49.3+ MB
[nan 'Humpback Whale' 'Minke Whale' 'Harbor Porpoise' 'cetaceans'
 'Fin Whale' 'Atlantic White-sided Dolphin' 'basking shark' 'pilot whales'
 'albacores' 'Common Bottlenose Dolphin' 'pinnipeds' 'toothed whales'
 'North Atlantic Right Whale' 'Sei Whale' 'baleen whales' 'dolphins'
 'Loggerhead Sea Turtle' 'ocean sunfish' 'Short-beaked Common Dolphin'
 'Sperm Whale' "Risso's Dolphin" 'Leatherback Sea Turtle'
 'cartilaginous fishes' 'blue shark' 'Sea Turtles' 'Great white shark'
 'Blue Whale' 'rays' 'Striped Dolphin' 'Killer Whale' 'Atlantic gray seal'
 'White-beaked Dolphin' "Kemp's Ridley" 'Bowhead'
 'Northern bottlenose whale' 'beaked whales' 'Atlantic swordfish'
 'spinner dolphins' 'white-beaked dolphins' 'bonnethead sharks']

In [5]:
max(df['dt'])
min(df['dt'])
df['year'] = df.dt.dt.year
df.groupby(['year']).describe()
df2 = df[df['year']==2015]
df2016 = df[df['year']==2016]

In [29]:
df2.common_name.unique()
df.columns

Index(['dataset_id', 'row_id', 'latitude', 'longitude', 'species_name',
       'scientific_name', 'common_name', 'itis_tsn', 'group_size', 'series_id',
       'date_time', 'timezone', 'ds_type', 'platform', 'provider',
       'lprecision', 'tprecision', 'oceano', 'notes', 'last_mod', 'id',
       'source', 'plane', 'date_local', 'time_local', 'event_number',
       'flight_type', 'legtype', 'legstage', 'psb_legstage', 'altitude',
       'heading', 'speed', 'sst_c', 'beaufort', 'visibilty_code',
       'visibilty_nm', 'cloud_code', 'cloud_percent', 'glare_l', 'glare_r',
       'quality_l', 'quality_r', 'id_reliability', 'sighting_number', 'spcode',
       'calves', 'bearing', 'actual_heading', 'relative_heading', 'observer',
       'obs_position', 'angle', 'cue', 'b1_final_code', 'b2_final_code',
       'b3_final_code', 'b4_final_code', 'b5_final_code', 'photos',
       'effort_comments', 'sighting_comments', 'edit1', 'edit2', 'edit3',
       'misc_edit1', 'misc_edit2', 'misc_edit3', 'misc_edit4', 'rid', 'dt',
       'year'],
      dtype='object')

In [43]:
df2.sighting_comments.unique()

array([nan, 'R/V Bigelow', 'change to mod gear', 'change to heavy gear',
       'end light gear', 'alt obs', 'beg light gear', 'resight s13',
       'small bulk carrier', 'clam dredge', 'car carrier',
       'Maersk Shipping Co', 'R/V Ibis', 'net and orange float',
       'really dark lg fish', 'alt obs small', 'resight s227',
       'no gs recorded', '2 buoys + 70ft line', 'resight s39',
       'beg mod gear', 'foam patch dead unid from track', 'resight s258',
       'resight s1', 'end mod gear', '25ft of line',
       'change to light gear', 'tuna', 'end heavy gear', 'resight s104',
       'dup from st s87', 'dup from st', 'poss raft from track',
       'resight', 'psi', 'scalloper', 'fin est 4 thru 0699',
       'no dec turning', 'no dec spread out', 'ap s57 thru 1451',
       'fin est 2 thru 0670', 'small dark', 'ap new', 'ech',
       'fin est 1 thru 0648', 'unid from track', 'ap s49 psi',
       'fin est 2 thru 0683 1 not ph', 'fin est 1 thru 0566',
       'fin est 1 no ap thru 0721', 'undo from track + orig gs=30',
       'ap s113', 'fin est 1 s37 no break', 'fin est 1 s38 no break',
       'ap s22 not good for de', 'fin est 2 thru 0754', 'ap', 'new',
       'unlw from track no ap', 'unlw from trk thru 0451',
       'not relocated', 'large', 'unlw from track',
       'fin est 1 no break no ap', 'ap lunge', 'ap s187', 'ap alt obs',
       'not riwh', 'psi alt obs', 'fin est 24 thru 0380',
       'did not relocate', 'orig fiwh psi from track',
       'orig fiwh from track',
       'psi miwh psi from track + origs gs=1 unsure which whale',
       'spread out no good dec', 'unsure which whale', 'ap s34',
       'fin est 2 thru 0448 (off watch sighting)', 'bottling', 'lunge',
       'w/ s190 WSDO', 'w/ s189 FIWH', 'unlw from track + orig gs=1',
       'carouseling', 'psi unlw from track', '(off watch sighting)',
       'alt obs resight s47', 'assoc w/ s21.1 wsdo; orig gs=7 from track',
       'ap s20 assoc w/ s21.1 wsdo thru 2502', 'unsure which ap',
       'ap assoc w/ s21 fiwh (gs not recorded, at least 12 in photos)',
       '(gs not recorded)', 'fin est 1 not relocated',
       'fin est 10 thru 2554 including 3 probable right whales not marked',
       'fin est 2 no break', 'alt obs unlw from track + orig gs=3',
       'no dec', 'dead', 'fin est 6 thru 1925 1 not marked', 'ap s8',
       'ap s16', 'ap s156 thru 1779', 'fin est 3 thru 2536',
       'harassed by s34 wdso', 'harassing s35 bash', 'psi deep',
       'psi (no dec recorded)', 'fin est 1 no break', 'had dorsal fin',
       'spread out (no dec recorded)', 'fin est 3 no break',
       'fin est 3 thru 1971', 'fin est 1 no ph', 'fin est 1 psi no break',
       'fin est 12 thru 2016 not all marked', 'poss bewh', 'uns which ap',
       'ap s12', 'no dorsal no time to circle', 'poss huwh',
       'ap dead thru 0602', 'ap s170 thru 1806',
       'fin est 10 thru 2441 not all marked',
       'fin est 25 thru 2233 not all marked',
       'fin est 1 psi not relocated', 'fin est 4 no break', 'dorsal',
       'assoc w/ s7 UNDO unsure which whale', 'ap ph thru 1460',
       'assoc w/ s6 UNLW', 'other=bubbles', 'assoc w/ s87 UNCW',
       'ap s150 not good for de', 'ap s36', 'psi other=bubbles',
       'R/V Bigelow resight', 'large (no dec recorded)', 'thru 1464',
       'large dark', 'very small', 'echelon formation',
       'maybe miwh alt obs', 'uncertain if s38',
       'psi not sure if relocated', 'ap flukeprint', 'ap psi',
       'alt obs unlw from track', 'ap s67 thru 2774',
       'ap s13 good for de', '10 ft dark', 'ap s46',
       'fin est 1 thru 0638', 'fin est 4 thru 0714 (off watch sighting)',
       'juvenile', 'unsure if relocated', 'fin est 1 thru 0870',
       'calf alone', 'accounted for in break s188', 'alt obs not riwh',
       'alt obs s82 not an ap', 'ap s6 not riwh brown def',
       'uncw from track', 'undo from track',
       'psi from track + orig gs=72', 'undo from trk + orig calf=0',
       'cue=Allison', 'ap s142', 'ap s59 thru 0451',
       'cue=bubble prob resight s59', 'unlw from trk', 'not an eg',
       's33 not an ap', 'psi unid from track', 'ap s51', 'w/ s17 RIWH',
       'small', 'unlw from track + orig gs=3', 'alt obs not relocated',
       'iso to 1000 not relocated', 'assoc w/ s90 FIWH',
       'fin est 2 thru 0960 #2790', 'fin est 1 thru 0992',
       'fin est 2 thru 1648 nursing', 'ap s48', 'ap riwh from track',
       'light in color', 'resight s231',
       'off watch sighting (during telemetry)',
       'psi; off watch sighting (during telemetry)',
       'resight accounted for in break', 'spread out',
       'unlw from crossleg', 'psi no dec turning unable to relocate',
       'psi s151', 'unable to id has a dorsal',
       'fin est 3 thru 0902; missing 1 ap', 'spread out no dec',
       'fin est 1 thru 9953', 'assoc w/ s91 UNDO', 'fin est 1 thru 2723',
       'alt obs unlw from track + orig gs=1', 'ap s101 lunge',
       'poss huwh not relocated', 'fin est 3 thru 9975 no ap for calf',
       'ap s60 good for de', 'fin est 1 thru 2596',
       'very small (off watch sighting)', 'assoc w/ s76 BASH',
       'assoc w/ s75 UNCW', 'fin est 1 thru 1403',
       'psi w/ s317.1 WSDO psi', 'poss resight s55',
       'not an ap - distant blows', 'ap s156.1', 'psi no dec spread out',
       '(dec not recorded)', 'thru 0041', 'prob resight', 'thru 9982',
       'fin est 1 thru 1391', 'ap s90 not good for de', 'too sm to be eg',
       'psi unlw from track no ap', 'ap thru 0905 poss mc',
       'unable to relocate', 'fin est 3 thru 1290 only photod 1',
       'accnt for in break s24', 'ap s42', 'uns which whale',
       'fin est 1 ct no break', 'fin est 1 thru 9978',
       'tafa ap s22 & s23 alt obs photo seat', 'accnt for in break',
       'diving no dec turning', 'unlw from track + orig gs = 2',
       'associated with s98 WSDO', 'associated with s97 FIWH', 'ap s6',
       'ap s26.1', 'echelon', '(obs/pos/dec not recorded)',
       'ap s55 thru 9956', 'ap s53 associated with s59 UNDO',
       'ap w/ s63 FIWH', 'calf large', 'unlw from track + orig gs=2',
       'ap s3 lunge', 'unlw from track + orig gs = 3', 'alt obs new',
       'assoc w/ s51 HUWH', 'fin est 1 thru 9941', 'ap s20',
       'fin est 1 thru 0465', 'orig undo from track + gs=70', 'ap s79',
       'ap s84 thru 0758', 'not eg', 'ap s89 thru 0628',
       'unfs from track', 'ap (off watch sighting)', 'ap thru 0759',
       'fin est 1 thru 1330',
       'bubble net; off watch sighting (during telemetry)',
       'unlw from trk + orig gs 1', 'ap s172',
       'ap s158 alt obs photo seat', 'unlw from track + orig gs = 1',
       'associated with s58 FIWH', 'psi no dec turning',
       'uns if relocated orig riwh psi from track',
       'w/ s17 SEWH thru 1380 originally UNDO until ph analysis',
       'w/ s18 UNDO thru 1380', 'account for in break',
       'unmw from track + orig gs=1', '(obs/pos not recorded)',
       'ap s13 alt obs', 'large shark', 'fin est 2 thru 0432',
       'fin est 2 thru 0988', 'ap s10', 'unable to confirm ID',
       'resight fr last track mns', 'fin est 1 thru 1266',
       'alt obs left window', 'unlw from track thru 1658',
       'unlw from trk + orig gs=1', 'ap s64 thru 2617', 'ap s1',
       'undo from trk spp confirm by photos', 'ap s23 thru 2734', 's57',
       'ap prob s43', 'poss wsdo', 'fin est 1 no break low fuel',
       'psi no dec turning alt obs', 'ap s59', 'ap s100',
       'many juveniles', "react to plane's shadow", '(no dec given)',
       'ap s53', 'ap s53 psi', 'fin est 1 s64 thru 9962',
       'ap s40 thru 2602', 'riwh psi from trk + orig gs=1',
       'ap s153 thru 2609', 'undo from track + orig gs = 130',
       'alt obs photo seat', 'fin est 3 thru 0823', '1 is resight of s68',
       'assoc w/s106 fiwh', 'assoc w/s104 wsdo', 'alt obs psi',
       'ap s8 thru 2753', 'tail stock injury',
       'fin est 4 thru 0812 ech fd', 'fin est 2 thru 1362 diablo/3139',
       'unsure which whale (no dec recorded)', 'psi not relocated',
       'undo from trk', 'riwh from track', 'ap s78 thru 0622',
       'fin est 2 thru 1628', 'fin est 2 thru 2802',
       'psi no dec lost in glare', 'poss piwh', 'ap s37',
       'echelon formations; group size verified', 'echelon formations',
       'alt obs (off watch sighting)', 'alt obs unable to relocate',
       'associated w/s104 UNCW', 'cue=gear', 'ap s35 good for de',
       'orig unlw from track + orig gs=1',
       'associated w/s103 FIWH alt obs', 'not relocated prob resight',
       'offshore bodo', 'w/ s258 HUWH', 'thru 1378',
       'tuna boat assoc w/ s55 uncw', 'assoc w/ s54 fv-u (tuna boat)',
       'fin est 1 thru 1298', 'ap s59 thru 1312', 'resight s35', 'ap s72',
       'ap s43', 'resight s123', 'R/V Shearwater', 'buoy w/ 50ft of line',
       'resight s99', 'resight s97', '20ft line', 'resight s17',
       'being towed by s40 CG-C', 'towing s41 FV-T', 'line',
       'resight s28', 'offshore', 'dup from st s29', 'tuna resight s1',
       'resight s46', '8 poss dogfish',
       'shark dive charter fv-u from track (no dec recorded)',
       'resight s45', 'jack up barge', 'resight s80',
       'dup from st R/V Endeavor s53', 'RV Hassler', 'gs not recorded',
       'resight s23', 'scalloper resight', '50ft of line', 'resight s11',
       'resight s15', 'resight s25', '250ft orange rope', 'RHIBs',
       'R/V Gunter resight s15', 'R/V Gunter', 'resight s44',
       'resight s132', '40ft of line', 'buoy + 40ft of line',
       'small footprint', 'resight s139', 'resight s2', 'tuna alt obs',
       'tuna resight', 'beg heavy gear', 'mud plume unable to relocate',
       '300x20 feet', 'orange', 'green net', 'gunnery exercise',
       'green netting and buoys', 'reddish', 'rv selkie', '3x100m',
       'bait ball', 'ball of line', '30ft square',
       'red & white buoy w/ 10ft orange line',
       'ball of monofilament line', 'beg light gear (end not recorded)',
       'tuna boat', 'resight s13 clam dredge', 'car carrier resight s8',
       'no heading', 'resight s138', 'R/V Endeavor', 'maybe crab pot',
       '20x30m', 'ap s128 large wad of plastic sheeting',
       'beg heavy gear (end not recorded)', '300m x 125m',
       'dolphin sized', '(no dec recorded)', 'resight s14',
       'resight s11 (no dec recorded)', 'abandoned on shore Nomans',
       'beg mod gear (end not recorded)', 'resight s56', '200m',
       '300ft line 2 buoys', 'resight s12 clam dredge', 'gillnet',
       '5m x 1500m', 'resight?', 'gunnery exercise resight',
       'balled up line', 'net ball attached', '70 ft of line',
       'bulk freighter', 'pair trawling', 'resight s111', 'orange float',
       'crew boat', '100ft x 1.5mi', 'heading in opposite directions',
       'extensive sheen both sides', 'large piece plastic', 'resight s36',
       '100ft x80ft both sides', 'white plastic 40 ft', 'fuel barge',
       'resight s86', 'survey boat',
       'thru 1422 plastic net UNID from trackline', 'ball of yellow line',
       'barge?', 'resight s110', 'resight s19', 'resight s68',
       'resight s26 prob clam dredge', 'resight s40/41',
       'dup from st s28', 'resight s11,13,14', '150ft x 50ft',
       'wad of net', 'long piece line', 'dup from st s72 R/V Hassler',
       'change to mod gear (end not recorded)', 'resight s41',
       'R/V Bigelow dup from st', 'supply boat',
       'orig dead unid from track', 'ap s1 white plastic',
       '40ft yellow line', 'long liner?', 'resight s85',
       'resight s46 1 of 2', 'resight s46 2 of 2', 'dup from st s22',
       '20 pot buoys', 'offshore resight s66', 'orange buoy',
       'resight s257', 'resight s47', 'accnt for in break s25',
       'all polys no flyers', 'resight s71',
       '100ft wad of orange & white line', 'unse or hapo',
       'large shark or seal not relocated', 'resight s40', 'double buoys',
       '2 50X50ft sheens (obs/pos not recorded)', 'stick boat',
       'alt obs resight', 'resight s120', '20m x 50m', 'sport or fv-c',
       'tuna resight s286', 'resight s288', 'bullet buoys', 'resight s82',
       '30ft line', '200ft of line w/ ball & buoy', '20-30 ft of line',
       'R/V Hassler', 'resight s112', 'resight s226 R/V Hassler',
       'small alt obs', 'ap s194', 'ap s27 not good for de',
       'ech formation', 'thru 0007', 'psi w/ s317 FIWH psi',
       'fin est 1 thru 0612', 'not sado, wsdo, or uncw',
       'no break no fuel to circle', 'assoc w/ s85 HUWH',
       'psi no dec on turn', 'alt obs poss fiwh', 'fin est 1 thru 2258',
       'echelon mouths closed', 'no circle time',
       'fin est 6 thru 0467 not all marked', 'ap w/ s64 WSDO',
       'unsure if relocated prob s48', 'ap new thru 0999',
       'fin est 6 thru 0038 no ap 4', 'assoc w/ s52 UNDO', 'w/ s259 UNDO',
       'fin est 2 thru 0950', 'ap s66', "reacted to plane's shadow",
       'ap s118', 'ap s207 alt obs', 'observer', 'fin est 1 thru 1413',
       'fin est 5 thru 0074', 'fin est 1 thru 0935',
       'ap s105 dorsaled whale', 'poss dead unk from track',
       '50m diameter', 'buoy w/ 50 ft line',
       'large board orig dead unid from track', 'netting', 'resight s95',
       '50ft & 100ft line', 'resight s15 R/V Gunter', 'sm vessel',
       'resight s137', 'DMON acoustic buoy psi'], dtype=object)

In [60]:
df2.head()
df3 = df2[['latitude','longitude','species_name','common_name','group_size','calves','year', 'date']]

In [10]:
#df3.to_csv('2015_points.csv')
df2017 = df[df['year']==2017]
df2016_2 = df2017[['latitude','longitude','species_name','common_name','group_size','calves','year', 'date']]
df2016_2.to_csv('2017_points.csv')

In [8]:
lf = pd.read_csv('obis_seamap_dataset_513_lines.csv')

/opt/anaconda3/envs/metis/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (58,59,66,67,68,69,70,71,72,73) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [30]:
lf.head()
lf['date']= pd.to_datetime(lf['date_local'], format='%Y-%m-%d')

In [59]:
lf[lf.spcode=='BLWH']

,dataset_id,row_id,series_id,longitude_begin,latitude_begin,longitude_end,latitude_end,datetime_begin,datetime_end,length_km,...,sighting_comments,edit1,edit2,edit3,misc_edit1,misc_edit2,misc_edit3,misc_edit4,rid,date
28404,514,514_28405,NaN,-70.074195,42.936921,-70.072364,42.936953,2004-11-17 11:35:01,2004-11-17 11:35:04,0.1495,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68745,2004-11-17
63064,514,514_63065,NaN,-68.499600,43.430300,-68.499600,43.432200,2008-10-08 11:43:56,2008-10-08 11:44:00,0.2111,...,psi,,,,NaN,NaN,NaN,NaN,154554,2008-10-08
96310,514,514_96311,NaN,-70.154690,43.137170,-70.156590,43.136770,2007-10-16 14:44:57,2007-10-16 14:45:00,0.1608,...,unid frm trk fr 8097,,,ph,NaN,NaN,NaN,NaN,159006,2007-10-16
102912,514,514_102913,NaN,-69.239860,42.625910,-69.241530,42.622810,2008-02-25 14:03:26,2008-02-25 14:04:00,0.3706,...,ap thru 9414,b1 ph psb,,,NaN,NaN,NaN,NaN,200066,2008-02-25
109593,514,514_109594,NaN,-69.896600,42.314900,-69.895800,42.317200,2008-10-24 12:09:41,2008-10-24 12:09:46,0.2639,...,unid from track,,comm b1 ph,,NaN,sig_comm,NaN,NaN,155565,2008-10-24
218213,514,514_218214,NaN,-62.083890,48.164960,-62.083710,48.160770,2017-06-23 18:44:18,2017-06-23 18:44:26,0.4661,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1052894,2017-06-23
255485,514,514_255486,NaN,-64.321820,49.417300,-64.321820,49.417300,2017-07-25 08:38:48,2017-07-25 08:38:49,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1090209,2017-07-25
255505,514,514_255506,NaN,-64.356610,49.484360,-64.357090,49.485260,2017-07-25 08:41:16,2017-07-25 08:41:20,0.1060,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1090229,2017-07-25
264527,514,514_264528,NaN,-62.808980,47.733400,-62.808340,47.736260,2017-07-29 13:55:58,2017-07-29 13:56:05,0.3216,...,unlw from trk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1099277,2017-07-29
329723,514,514_329724,NaN,-64.011700,47.706200,-64.013500,47.704600,2018-06-11 17:03:58,2018-06-11 17:04:02,0.2234,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1686754,2018-06-11
331661,514,514_331662,NaN,-63.917000,47.803200,-63.918200,47.804800,2018-06-15 11:19:18,2018-06-15 11:19:21,0.1993,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1688693,2018-06-15
332330,514,514_332331,NaN,-63.836500,47.873100,-63.836600,47.876400,2018-06-15 12:44:50,2018-06-15 12:44:56,0.3670,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1689362,2018-06-15
334018,514,514_334019,NaN,-63.828800,48.283000,-63.829700,48.281500,2018-06-17 10:31:18,2018-06-17 10:31:21,0.1797,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1691051,2018-06-17
334280,514,514_334281,NaN,-63.889100,47.833800,-63.885700,47.831000,2018-06-17 11:19:29,2018-06-17 11:19:37,0.4021,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1691313,2018-06-17
418427,514,514_418428,NaN,-63.670010,47.461170,-63.671620,47.458920,2019-10-13 16:40:52,2019-10-13 16:40:56,0.2781,...,alt obs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3038800,2019-10-13
418503,514,514_418504,NaN,-63.681330,47.469440,-63.681330,47.469440,2019-10-13 16:50:46,2019-10-13 16:50:47,0.0000,...,ap s44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3038876,2019-10-13
471860,514,514_471861,NaN,-67.376868,40.528617,-67.374466,40.528549,2002-06-16 14:05:11,2002-06-16 14:05:15,0.2037,...,blue whale!,speccode,NaN,NaN,NaN,NaN,NaN,NaN,19790,2002-06-16
474836,514,514_474837,NaN,-69.105030,40.589969,-69.098663,40.589668,2002-10-21 10:49:42,2002-10-21 10:49:52,0.5400,...,NaN,sp,NaN,NaN,NaN,NaN,NaN,NaN,24164,2002-10-21
503252,514,514_503253,NaN,-67.714485,40.561584,-67.715782,40.561602,2005-04-18 14:37:14,2005-04-18 14:37:16,0.1099,...,unwh from trackline,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84400,2005-04-18
777571,514,514_777572,NaN,-69.237980,42.290570,-69.237190,42.290100,2014-11-04 14:56:48,2014-11-04 14:56:50,0.0835,...,ap alt obs photo seat thru 8171,speccode,"added b1 from e1146, sig_comm del s30","added ""thru 8171"" & del s34 (comment re: photo...",NaN,NaN,NaN,NaN,403934,2014-11-04
856914,514,514_856915,NaN,-59.252820,45.845640,-59.251870,45.843940,2015-08-03 13:51:21,2015-08-03 13:51:25,0.2029,...,unlw from track,ph,NaN,NaN,NaN,NaN,NaN,NaN,424274,2015-08-03
857032,514,514_857033,NaN,-59.283250,45.836940,-59.282490,45.834560,2015-08-03 14:10:34,2015-08-03 14:10:40,0.2710,...,ap s156 thru 1779,ph,NaN,NaN,NaN,NaN,NaN,NaN,425140,2015-08-03
924117,514,514_924118,NaN,-63.970180,48.323340,-63.969530,48.319890,2019-06-13 10:59:09,2019-06-13 10:59:17,0.3866,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2973397,2019-06-13
924586,514,514_924587,NaN,-63.904910,48.649520,-63.906280,48.649800,2019-06-13 11:59:16,2019-06-13 11:59:18,0.1056,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2973866,2019-06-13

In [61]:
rl = lf[lf['spcode'].isin(['RIWH','BLWH'])]

In [62]:
rl.info()
rl.to_csv('right_blue_whale_tracks.csv')
# rl[['longtitude_begin','latitude_begin','longtitude_end','latitude_end','datetime_begin','datetime_end','length_km','date_local','spcode','']]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11354 entries, 313 to 1031999
Data columns (total 76 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   dataset_id         11354 non-null  int64
 1   row_id             11354 non-null  object
 2   series_id          0 non-null      float64
 3   longitude_begin    11354 non-null  float64
 4   latitude_begin     11354 non-null  float64
 5   longitude_end      11354 non-null  float64
 6   latitude_end       11354 non-null  float64
 7   datetime_begin     11354 non-null  object
 8   datetime_end       11354 non-null  object
 9   length_km          11354 non-null  float64
 10  speed_kph          11354 non-null  float64
 11  eff_status         11354 non-null  object
 12  ds_type            11354 non-null  object
 13  id_obs             11354 non-null  int64
 14  beglat             11354 non-null  float64
 15  beglon             11354 non-null  float64
 16  endlat             11354 non-null  float64
 17  endlon             11354 non-null  float64
 18  beg_datetime       11354 non-null  object
 19  end_datetime       11354 non-null  object
 20  row_number         11354 non-null  int64
 21  obs_datetime       11354 non-null  object
 22  id                 11354 non-null  int64
 23  source             11354 non-null  object
 24  plane              11354 non-null  object
 25  date_local         11354 non-null  object
 26  time_local         11354 non-null  object
 27  event_number       11351 non-null  float64
 28  flight_type        11354 non-null  int64
 29  latitude           11354 non-null  float64
 30  longitude          11354 non-null  float64
 31  legtype            11354 non-null  float64
 32  legstage           11354 non-null  float64
 33  psb_legstage       11354 non-null  float64
 34  altitude           11353 non-null  float64
 35  heading            11351 non-null  float64
 36  speed              11351 non-null  float64
 37  sst_c              1667 non-null   float64
 38  beaufort           11251 non-null  float64
 39  visibilty_code     512 non-null    float64
 40  visibilty_nm       10516 non-null  float64
 41  cloud_code         11249 non-null  float64
 42  cloud_percent      217 non-null    float64
 43  glare_l            11232 non-null  float64
 44  glare_r            11228 non-null  float64
 45  quality_l          11225 non-null  object
 46  quality_r          11223 non-null  object
 47  id_reliability     11237 non-null  float64
 48  sighting_number    11166 non-null  float64
 49  spcode             11354 non-null  object
 50  group_size         11351 non-null  float64
 51  calves             358 non-null    float64
 52  bearing            0 non-null      float64
 53  actual_heading     574 non-null    float64
 54  relative_heading   41 non-null     float64
 55  observer           11135 non-null  object
 56  obs_position       11218 non-null  object
 57  angle              2406 non-null   float64
 58  cue                1684 non-null   object
 59  b1_final_code      3301 non-null   object
 60  b2_final_code      1068 non-null   float64
 61  b3_final_code      292 non-null    float64
 62  b4_final_code      86 non-null     float64
 63  b5_final_code      30 non-null     float64
 64  photos             11226 non-null  float64
 65  effort_comments    1769 non-null   object
 66  sighting_comments  10297 non-null  object
 67  edit1              5871 non-null   object
 68  edit2              2923 non-null   object
 69  edit3              3060 non-null   object
 70  misc_edit1         611 non-null    object
 71  misc_edit2         386 non-null    object
 72  misc_edit3         458 non-null    object
 73  misc_edit4         22 non-null     object
 74  rid                11354 non-null  int64
 75  date               11354 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(41), int64(6), object(28)
memory usage: 6.7+ MB

In [56]:
rl.cue.unique()

array([nan, 'ANIMAL', 'BLOW', 'SPLASH', 'OTHER', 'VESSEL/GEAR',
       'FOOTPRINT', 'DISTURBANCE', 'WINDROWS'], dtype=object)

In [65]:
df.head()
df['dt']=pd.to_datetime(df['date_time'], format='%Y-%m-%d %H:%M:%S')
df['date']= pd.to_datetime(df['date_local'], format='%Y-%m-%d')
df['year'] = df.dt.dt.year

rw = df[df['species_name'].isin(['RIWH','BLWH'])]
w = df[df['species_name'].str.contains('WH', na=True)]

In [67]:
df[df['species_name'].isin(['BLWH'])]

,dataset_id,row_id,latitude,longitude,species_name,scientific_name,common_name,itis_tsn,group_size,series_id,...,edit2,edit3,misc_edit1,misc_edit2,misc_edit3,misc_edit4,rid,dt,date,year
3483,513,513_19183,40.561584,-67.714485,BLWH,Balaenoptera musculus,Blue Whale,180528.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,84400,2005-04-18 14:37:14,2005-04-18,2005
3971,513,513_7817,40.589970,-69.105030,BLWH,Balaenoptera musculus,Blue Whale,180528.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,24164,2002-10-21 10:49:42,2002-10-21,2002
8197,513,513_90305,49.417300,-64.321820,BLWH,Balaenoptera musculus,Blue Whale,180528.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1090209,2017-07-25 08:38:48,2017-07-25,2017
8198,513,513_90306,49.484360,-64.356610,BLWH,Balaenoptera musculus,Blue Whale,180528.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1090229,2017-07-25 08:41:16,2017-07-25,2017
8213,513,513_95480,48.649520,-63.904910,BLWH,Balaenoptera musculus,Blue Whale,180528.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2973866,2019-06-13 11:59:16,2019-06-13,2019
11145,513,513_93374,48.283000,-63.828800,BLWH,Balaenoptera musculus,Blue Whale,180528.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1691051,2018-06-17 10:31:18,2018-06-17,2018
11191,513,513_95466,48.323340,-63.970180,BLWH,Balaenoptera musculus,Blue Whale,180528.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2973397,2019-06-13 10:59:09,2019-06-13,2019
11368,513,513_90544,48.164960,-62.083890,BLWH,Balaenoptera musculus,Blue Whale,180528.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1052894,2017-06-23 18:44:18,2017-06-23,2017
11530,513,513_70232,45.845640,-59.252820,BLWH,Balaenoptera musculus,Blue Whale,180528.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,424274,2015-08-03 13:51:21,2015-08-03,2015
11690,513,513_70304,45.836940,-59.283250,BLWH,Balaenoptera musculus,Blue Whale,180528.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,425140,2015-08-03 14:10:34,2015-08-03,2015
11873,513,513_93338,47.873100,-63.836500,BLWH,Balaenoptera musculus,Blue Whale,180528.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1689362,2018-06-15 12:44:50,2018-06-15,2018
12219,513,513_96628,47.461170,-63.670010,BLWH,Balaenoptera musculus,Blue Whale,180528.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3038800,2019-10-13 16:40:52,2019-10-13,2019
12220,513,513_96629,47.469440,-63.681330,BLWH,Balaenoptera musculus,Blue Whale,180528.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3038876,2019-10-13 16:50:46,2019-10-13,2019
12328,513,513_93260,47.706200,-64.011700,BLWH,Balaenoptera musculus,Blue Whale,180528.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1686754,2018-06-11 17:03:58,2018-06-11,2018
12597,513,513_90619,47.733400,-62.808980,BLWH,Balaenoptera musculus,Blue Whale,180528.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1099277,2017-07-29 13:55:58,2017-07-29,2017
13386,513,513_93316,47.803200,-63.917000,BLWH,Balaenoptera musculus,Blue Whale,180528.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1688693,2018-06-15 11:19:18,2018-06-15,2018
13387,513,513_93382,47.833800,-63.889100,BLWH,Balaenoptera musculus,Blue Whale,180528.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1691313,2018-06-17 11:19:29,2018-06-17,2018
16499,513,513_7310,41.050667,-66.843498,BLWH,Balaenoptera musculus,Blue Whale,180528.0,1.0,NaN,...,sp,NaN,NaN,NaN,NaN,NaN,22855,2002-07-13 12:58:44,2002-07-13,2002
17070,513,513_5854,40.528617,-67.376868,BLWH,Balaenoptera musculus,Blue Whale,180528.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,19790,2002-06-16 14:05:11,2002-06-16,2002
29377,513,513_47808,42.625910,-69.239860,BLWH,Balaenoptera musculus,Blue Whale,180528.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,200066,2008-02-25 14:03:26,2008-02-25,2008
31106,513,513_37878,42.314900,-69.896600,BLWH,Balaenoptera musculus,Blue Whale,180528.0,1.0,NaN,...,comm b1 ph,NaN,NaN,sig_comm,NaN,NaN,155565,2008-10-24 12:09:41,2008-10-24,2008
37600,513,513_38456,43.137170,-70.154690,BLWH,Balaenoptera musculus,Blue Whale,180528.0,1.0,NaN,...,NaN,ph,NaN,NaN,NaN,NaN,159006,2007-10-16 14:44:57,2007-10-16,2007
39843,513,513_37647,43.430300,-68.499600,BLWH,Balaenoptera musculus,Blue Whale,180528.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,154554,2008-10-08 11:43:56,2008-10-08,2008
42021,513,513_15401,42.936922,-70.074196,BLWH,Balaenoptera musculus,Blue Whale,180528.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,68745,2004-11-17 11:35:01,2004-11-17,2004
81050,513,513_68225,42.290570,-69.237980,BLWH,Balaenoptera musculus,Blue Whale,180528.0,1.0,NaN,...,"added b1 from e1146, sig_comm del s30","added ""thru 8171"" & del s34 (comment re: photo...",NaN,NaN,NaN,NaN,403934,2014-11-04 14:56:48,2014-11-04,2014

In [24]:
w.info()
w[['latitude','longitude','species_name','common_name','group_size','calves','year', 'date']].to_csv('whales.csv')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19694 entries, 22 to 88572
Data columns (total 73 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   dataset_id         19694 non-null  int64
 1   row_id             19694 non-null  object
 2   latitude           19694 non-null  float64
 3   longitude          19694 non-null  float64
 4   species_name       19694 non-null  object
 5   scientific_name    19245 non-null  object
 6   common_name        19245 non-null  object
 7   itis_tsn           19245 non-null  float64
 8   group_size         19692 non-null  float64
 9   series_id          0 non-null      float64
 10  date_time          19694 non-null  object
 11  timezone           19694 non-null  float64
 12  ds_type            19694 non-null  object
 13  platform           19694 non-null  object
 14  provider           19694 non-null  object
 15  lprecision         19694 non-null  int64
 16  tprecision         19694 non-null  int64
 17  oceano             19258 non-null  object
 18  notes              0 non-null      float64
 19  last_mod           19694 non-null  object
 20  id                 19694 non-null  int64
 21  source             19694 non-null  object
 22  plane              19694 non-null  object
 23  date_local         19694 non-null  object
 24  time_local         19694 non-null  object
 25  event_number       19694 non-null  float64
 26  flight_type        19694 non-null  int64
 27  legtype            19692 non-null  float64
 28  legstage           19694 non-null  float64
 29  psb_legstage       19694 non-null  float64
 30  altitude           19693 non-null  float64
 31  heading            19428 non-null  float64
 32  speed              19639 non-null  float64
 33  sst_c              4538 non-null   float64
 34  beaufort           19649 non-null  float64
 35  visibilty_code     2321 non-null   float64
 36  visibilty_nm       16255 non-null  float64
 37  cloud_code         19644 non-null  float64
 38  cloud_percent      1485 non-null   float64
 39  glare_l            19646 non-null  float64
 40  glare_r            19619 non-null  float64
 41  quality_l          19216 non-null  object
 42  quality_r          19195 non-null  object
 43  id_reliability     19555 non-null  float64
 44  sighting_number    19438 non-null  float64
 45  spcode             19694 non-null  object
 46  calves             686 non-null    float64
 47  bearing            0 non-null      float64
 48  actual_heading     4588 non-null   float64
 49  relative_heading   47 non-null     float64
 50  observer           19313 non-null  object
 51  obs_position       19480 non-null  object
 52  angle              10828 non-null  float64
 53  cue                7236 non-null   object
 54  b1_final_code      4034 non-null   object
 55  b2_final_code      911 non-null    float64
 56  b3_final_code      234 non-null    float64
 57  b4_final_code      76 non-null     float64
 58  b5_final_code      26 non-null     float64
 59  photos             19543 non-null  float64
 60  effort_comments    29 non-null     object
 61  sighting_comments  7559 non-null   object
 62  edit1              5294 non-null   object
 63  edit2              1765 non-null   object
 64  edit3              1427 non-null   object
 65  misc_edit1         411 non-null    object
 66  misc_edit2         785 non-null    object
 67  misc_edit3         457 non-null    object
 68  misc_edit4         21 non-null     object
 69  rid                19694 non-null  int64
 70  dt                 19694 non-null  datetime64[ns]
 71  date               19694 non-null  datetime64[ns]
 72  year               19694 non-null  int64
dtypes: datetime64[ns](2), float64(34), int64(7), object(30)
memory usage: 11.1+ MB

In [66]:
rw.info()
rw.to_csv('right_blue_whales.csv')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2727 entries, 1664 to 87380
Data columns (total 73 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   dataset_id         2727 non-null   int64
 1   row_id             2727 non-null   object
 2   latitude           2727 non-null   float64
 3   longitude          2727 non-null   float64
 4   species_name       2727 non-null   object
 5   scientific_name    2727 non-null   object
 6   common_name        2727 non-null   object
 7   itis_tsn           2727 non-null   float64
 8   group_size         2727 non-null   float64
 9   series_id          0 non-null      float64
 10  date_time          2727 non-null   object
 11  timezone           2727 non-null   float64
 12  ds_type            2727 non-null   object
 13  platform           2727 non-null   object
 14  provider           2727 non-null   object
 15  lprecision         2727 non-null   int64
 16  tprecision         2727 non-null   int64
 17  oceano             2727 non-null   object
 18  notes              0 non-null      float64
 19  last_mod           2727 non-null   object
 20  id                 2727 non-null   int64
 21  source             2727 non-null   object
 22  plane              2727 non-null   object
 23  date_local         2727 non-null   object
 24  time_local         2727 non-null   object
 25  event_number       2727 non-null   float64
 26  flight_type        2727 non-null   int64
 27  legtype            2727 non-null   float64
 28  legstage           2727 non-null   float64
 29  psb_legstage       2727 non-null   float64
 30  altitude           2726 non-null   float64
 31  heading            2715 non-null   float64
 32  speed              2715 non-null   float64
 33  sst_c              490 non-null    float64
 34  beaufort           2707 non-null   float64
 35  visibilty_code     162 non-null    float64
 36  visibilty_nm       2285 non-null   float64
 37  cloud_code         2706 non-null   float64
 38  cloud_percent      259 non-null    float64
 39  glare_l            2704 non-null   float64
 40  glare_r            2703 non-null   float64
 41  quality_l          2701 non-null   object
 42  quality_r          2700 non-null   object
 43  id_reliability     2588 non-null   float64
 44  sighting_number    2484 non-null   float64
 45  spcode             2727 non-null   object
 46  calves             168 non-null    float64
 47  bearing            0 non-null      float64
 48  actual_heading     82 non-null     float64
 49  relative_heading   42 non-null     float64
 50  observer           2447 non-null   object
 51  obs_position       2561 non-null   object
 52  angle              426 non-null    float64
 53  cue                208 non-null    object
 54  b1_final_code      1166 non-null   object
 55  b2_final_code      539 non-null    float64
 56  b3_final_code      210 non-null    float64
 57  b4_final_code      74 non-null     float64
 58  b5_final_code      26 non-null     float64
 59  photos             2581 non-null   float64
 60  effort_comments    10 non-null     object
 61  sighting_comments  2630 non-null   object
 62  edit1              1642 non-null   object
 63  edit2              540 non-null    object
 64  edit3              516 non-null    object
 65  misc_edit1         369 non-null    object
 66  misc_edit2         113 non-null    object
 67  misc_edit3         131 non-null    object
 68  misc_edit4         15 non-null     object
 69  rid                2727 non-null   int64
 70  dt                 2727 non-null   datetime64[ns]
 71  date               2727 non-null   datetime64[ns]
 72  year               2727 non-null   int64
dtypes: datetime64[ns](2), float64(34), int64(7), object(30)
memory usage: 1.5+ MB